.credits {
  background-color: #f1f1f1;
  padding: 0 30px;
}

.credits__logo {
  display: none;
}

.credits__social {
  padding-top: 25px;
  height: 80px;
  box-sizing: border-box;
  font-size: 0;
  text-align: center;
}

.credits__social-item {
  display: inline-block;
  vertical-align: middle;
  margin: 0 20px;

  &--inst {
    width: 22px;
    height: 21px;
    background: url("../img/icon-insta.svg") 0 0 no-repeat scroll transparent;
  }

  &--fb {
    width: 14px;
    height: 28px;
    background: url("../img/icon-fb.svg") 0 0 no-repeat scroll transparent;
  }

  &--twitter {
    width: 23px;
    height: 20px;
    background: url("../img/icon-twitter.svg") 0 0 no-repeat scroll transparent;
  }
}

.credits__developer {
  padding-top: 22px;
  height: 80px;
  box-sizing: border-box;
  font-size: 19px;
  line-height: 1em;
  font-weight: bold;
  border-top: 1px solid #e5e5e5;
}

.credits__developer-logo {
  float: right;
}

@media (min-width: 768px) {
  .credits {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 145px;
  }

  .credits__logo {
    display: block;
  }

  .credits__developer {
    display: flex;
    align-items: center;
    padding-top: 0;
    border-top: none;
  }

  .credits__developer-logo {
    margin-left: 28px;
  }
}
