.order-form {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}

.order-form__title {
  margin: 0;
  padding: 26px 0;
  color: @asphalt;
  font-size: 13px;
  line-height: 1.85em;
}

.order-form__fieldset {
  display: flex;
  flex-direction: column;
  padding: 6px 0 25px;
  border-color: @teal;
  border-style: solid;
  border-width: 1px;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.order-form__legend {
  position: relative;
  top: -19px;
  align-self: flex-start;
  display: inline-block;
  padding-right: 26px;
  padding-left: 0;
  color: @teal;
  font-size: 17px;
  line-height: 1em;
  font-weight: bold;
  text-transform: uppercase;
  background-color: @white;
}

.order-form__options {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
}

.order-form__inputwrap {
  display: flex;
  flex-direction: row;
}

.order-form__input {
  flex-grow: 1;
  font-family: @fonts-default;
  font-size: 17px;
  line-height: 1.06em;
  color: @asphalt;
}

.order-form__custom {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
}

.order-form__custom-radio {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #ffffff;
  border: 2px solid #444444;
  border-radius: 50%;
  cursor: pointer;
}

.order-form__radio:checked + .order-form__custom-radio::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #62d1ba;
  border-radius: 50%;
}

.order-form__custom-checkbox {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #ffffff;
  border: 2px solid #444444;
  cursor: pointer;
}

.order-form__checkbox:checked + .order-form__custom-checkbox::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 11px;
  display: inline-block;
  width: 2px;
  height: 9px;
  background-color: #000000;
  border-radius: 1px;
  transform: rotate(-45deg);
}

.order-form__checkbox:checked + .order-form__custom-checkbox::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 21px;
  display: inline-block;
  width: 2px;
  height: 20px;
  background-color: #000000;
  border-radius: 1px;
  transform: rotate(45deg);
}

.order-form__radio,
.order-form__checkbox {
  position: absolute;
  z-index: -1;
  visibility: hidden;
}

.order-form__label {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 39px;
  margin-top: 11px;
  margin-bottom: 11px;
  padding-left: 63px;
  font-size: 17px;
  line-height: 1.06em;
  font-weight: bold;
}

.order-form__textarea {
  display: block;
  font-family: @fonts-default;
  font-size: 17px;
  line-height: 1.06em;
  color: @asphalt;
}

.order-form__note {
  display: block;
  padding-bottom: 30px;
  font-size: 14px;
  line-height: 1.14em;
  color: @asphalt;
}

@media (min-width: 768px) {
  .order-form {
    padding: 0;
  }

  .order-form__title {
    padding: 70px 50px 10px;
  }

  .order-form__fieldset {
    flex-direction: row;
    padding: 6px 50px 25px;
    border: none;

    &--grey {
      background-color: #f1f1f1;
    }
  }

  .order-form__legend {
    flex-basis: 25%;
    position: static;
    background-color: transparent;
  }

  .order-form__options--colors {
    height: 250px;
  }

  .order-form__checkbox {
    height: 76px;
  }

  .order-form__bottom {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0 50px;
  }

  .order-form__button {
    width: 230px;
  }
}

@media (min-width: 1150px) {
  .order-form__options--colors {
    height: 180px;
  }
}
