.order-form {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}

.order-form__title {
  margin: 0;
  padding: 26px 0;
  color: @asphalt;
  font-size: 13px;
  line-height: 1.85em;
}

.order-form__fieldset {
  display: flex;
  flex-direction: column;
  padding: 6px 0 25px;
  border-color: @teal;
  border-style: solid;
  border-width: 1px;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.order-form__legend {
  position: relative;
  top: -19px;
  align-self: flex-start;
  display: inline-block;
  padding-right: 26px;
  padding-left: 0;
  color: @teal;
  font-size: 17px;
  line-height: 1em;
  font-weight: bold;
  text-transform: uppercase;
  background-color: @white;
}

.order-form__options {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
}

.order-form__inputwrap {
  display: flex;
  flex-direction: row;
}

.order-form__input {
  flex-grow: 1;
  font-family: @fonts-default;
  font-size: 17px;
  line-height: 1.06em;
  color: @asphalt;
}

.order-form__label {
  font-size: 17px;
  line-height: 1.06em;
  font-weight: bold;
}

.order-form__textarea {
  display: block;
  font-family: @fonts-default;
  font-size: 17px;
  line-height: 1.06em;
  color: @asphalt;
}

.order-form__note {
  display: block;
  padding-bottom: 30px;
  font-size: 14px;
  line-height: 1.14em;
  color: @asphalt;
}

@media (min-width: 768px) {
  .order-form {
    padding: 0;
  }

  .order-form__title {
    padding: 70px 50px 10px;
  }

  .order-form__fieldset {
    flex-direction: row;
    padding: 6px 50px 25px;
    border: none;

    &--grey {
      background-color: #f1f1f1;
    }
  }

  .order-form__legend {
    flex-basis: 25%;
    position: static;
    background-color: transparent;
  }

  .order-form__options--colors {
    height: 250px;
  }

  .order-form__checkbox {
    height: 76px;
  }

  .order-form__bottom {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0 50px;
  }

  .order-form__button {
    width: 230px;
  }
}

@media (min-width: 1150px) {
  .order-form__options--colors {
    height: 180px;
  }
}
