.page-header__contain {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: @white;
  border-top: 1px solid @lightgrey;
}

.page-header__logo {
  height: 79px;
}

.page-header__logo-link {
  position: relative;
  display: inline-block;
  margin-top: 21px;
  transition: all 0.2s ease;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__logo-img {
  display: inline-block;
}

@media (min-width: 768px) {
  .page-header__contain {
    position: relative;
    z-index: 1;
    flex-direction: row;
    flex-wrap: wrap;
    height: 88px;
    padding-left: 50px;
    padding-right: 50px;
    border-bottom: 1px solid @grey;
    background-color: @white;
  }

  .page-header__logo {
    flex-basis: 49%;
    order: 0;
    height: 88px;
    text-align: left;
  }
}

@media (min-width: 1150px) {
  .page-header__contain {
    flex-wrap: nowrap;
    max-width: 1050px;
    margin: 0 auto;
    border-bottom: 1px solid #dfdfdf;
  }

  .page-header__logo {
    flex-basis: 246px;
    flex-grow: 1;
    order: 1;
  }
}
