.title {
  font-weight: bold;

  &--primary {
    margin: 0;
    padding: 0;
    font-size: 27px;
    line-height: 1.1em;
  }

  &--second {
    color: @black;
    font-size: 25px;
    line-height: 1.2em;
  }

  &--third {
    font-size: 17px;
    line-height: 1.4em;
  }
  
  &--mainpage {
    padding: 0 30px;
  }
}

@media (min-width: 768px) {
  .title {
    &--primary {
      font-size: 43px;
    }

    &--second {
      font-size: 43px;
    }

    &--mainpage {
      width: 550px;
      margin: 0 auto;
    }
  }
}

@media (min-width: 1150px) {
  .title {
    &--primary {
      font-size: 53px;
    }

    &--second {
      font-size: 53px;
    }

    &--mainpage {
      width: 700px;
    }
  }
}
