.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

::-webkit-input-placeholder {
  color: #d2d2d2;
}

::-moz-placeholder {
  color: #d2d2d2;
}

:-moz-placeholder {
  color: #d2d2d2;
}

:-ms-input-placeholder {
  color: #d2d2d2;
}

:focus::-webkit-input-placeholder {
  color: transparent;
}

:focus::-moz-placeholder {
  color: transparent;
}

:focus:-moz-placeholder {
  color: transparent;
}

:focus:-ms-input-placeholder {
  color: transparent;
}

@media (min-width: 768px) {
  .border_wave {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 1;
      width: 100%;
      height: 15px;
      background-repeat: repeat-x;
      background-size: 768px 23px;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-color: transparent;
    }
  }
}

@media (min-width: 1150px) {
  .border_wave::after {
    height: 18px;
    background-size: 1150px 34px;
  }
}
